+@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--accentcolor:					88,101,242;
	--accentcolor2:					255,115,250;
	--linkcolor:					0,176,244;
	--dangercolor: 					237,66,69;
	
	--accentcolor-hover:			rgb(var(--accentcolor)) linear-gradient(0deg, rgba(255,255,255,.15), rgba(255,255,255,.15));
	--accentcolor-active:			rgb(var(--accentcolor)) linear-gradient(0deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
	--accentcolor2-hover:			rgb(var(--accentcolor2)) linear-gradient(0deg, rgba(255,255,255,.15), rgba(255,255,255,.15));
	--accentcolor2-active:			rgb(var(--accentcolor2)) linear-gradient(0deg, rgba(255,255,255,.3), rgba(255,255,255,.3));
	
	--bdfdb-blurple:				rgb(var(--accentcolor)) !important;
	--bd-blue:						rgb(var(--accentcolor)) !important;
	--bd-blue-hover:				var(--accentcolor-hover) !important;
	--bd-blue-active:				var(--accentcolor-active) !important;
	--blurple:						rgb(var(--accentcolor)) !important;
}
.theme-light {
	--logo-primary: rgb(var(--accentcolor));
}
.theme-dark, .theme-light {
	--text-brand: rgb(var(--accentcolor));
	--text-link: rgb(var(--linkcolor));
	--text-link-low-saturation: rgb(var(--linkcolor));
	--info-help-background: rgba(var(--linkcolor),.1);
	--info-help-foreground: rgb(var(--linkcolor));
	--info-help-text: #fff;
	--focus-primary: rgb(var(--linkcolor));
	--control-brand-foreground: rgb(var(--accentcolor)) !important;
	--control-brand-foreground-new: rgb(var(--accentcolor)) !important;
	--brand-experiment-100: #fdfdfd !important;
	--brand-experiment-130: #f2f2f2 !important;
	--brand-experiment-160: #ebebeb !important;
	--brand-experiment-200: #e3e3e3 !important;
	--brand-experiment-230: #dadada !important;
	--brand-experiment-260: #d1d1d1 !important;
	--brand-experiment-300: #c7c7c7 !important;
	--brand-experiment-330: rgb(var(--accentcolor)) !important;
	--brand-experiment-360: rgb(var(--accentcolor)) !important;
	--brand-experiment-400: rgb(var(--accentcolor)) !important;
	--brand-experiment-430: rgb(var(--accentcolor)) !important;
	--brand-experiment-460: rgb(var(--accentcolor)) !important;
	--brand-experiment: rgb(var(--accentcolor)) !important;
	--brand-experiment-500: rgb(var(--accentcolor)) !important;
	--brand-experiment-530: rgb(var(--accentcolor)) !important;
	--brand-experiment-560: rgb(var(--accentcolor)) !important;
	--brand-experiment-600: rgb(var(--accentcolor)) !important;
	--brand-experiment-630: rgb(var(--accentcolor)) !important;
	--brand-experiment-660: rgb(var(--accentcolor)) !important;
	--brand-experiment-700: #323232 !important;
	--brand-experiment-730: #2b2b2b !important;
	--brand-experiment-760: #272727 !important;
	--brand-experiment-800: #222222 !important;
	--brand-experiment-830: #1a1a1a !important;
	--brand-experiment-860: #111111 !important;
	--brand-experiment-900: #0b0b0b !important;
	--brand-experiment-05a: rgba(var(--accentcolor),.05) !important;
	--brand-experiment-10a: rgba(var(--accentcolor),.1) !important;
	--brand-experiment-15a: rgba(var(--accentcolor),.15) !important;
	--brand-experiment-20a: rgba(var(--accentcolor),.2) !important;
	--brand-experiment-25a: rgba(var(--accentcolor),.25) !important;
	--brand-experiment-30a: rgba(var(--accentcolor),.3) !important;
	--brand-experiment-35a: rgba(var(--accentcolor),.35) !important;
	--brand-experiment-40a: rgba(var(--accentcolor),.4) !important;
	--brand-experiment-45a: rgba(var(--accentcolor),.45) !important;
	--brand-experiment-50a: rgba(var(--accentcolor),.5) !important;
	--brand-experiment-55a: rgba(var(--accentcolor),.55) !important;
	--brand-experiment-60a: rgba(var(--accentcolor),.6) !important;
	--brand-experiment-65a: rgba(var(--accentcolor),.65) !important;
	--brand-experiment-70a: rgba(var(--accentcolor),.7) !important;
	--brand-experiment-75a: rgba(var(--accentcolor),.75) !important;
	--brand-experiment-80a: rgba(var(--accentcolor),.8) !important;
	--brand-experiment-85a: rgba(var(--accentcolor),.85) !important;
	--brand-experiment-90a: rgba(var(--accentcolor),.9) !important;
	--brand-experiment-95a: rgba(var(--accentcolor),.95) !important;
}


/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	GUILDLIST
	2.	CHANNELLIST
	3.	CHAT
		1.	MESSAGES
		2.	TEXTAREA
		3.	AUTOCOMPLETEMENU
		4.	MEMBERLIST
		5.	SEARCHPAGE
		6.	CALL
	4.	PEOPLES
	5.	STORE/NITRO
	6.	LIBRARY
	7.	DISCOVERY
	8.	USERSETTINGS
	9.	GUILDSETTINGS
	10.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	LOGINSCREEN
		7.	DOWNLOADAPPMODAL
		8.	GUILDBOOSTMODAL
		9.	ADDGUILDBOOSTMODAL
		10.	STREAMSETTINGSMODAL
		11.	DISPATCHERRORMODAL
		12.	CHANGELOGMODAL
		13.	SCREENSHAREMODAL
		14.	PHONEVERIFICATIONMODAL
		15.	CUSTOMSTATUSMODAL
		16.	DISCOVERYENTRYMODAL
		17.	NICKNAMEMODAL
		18.	NITROFEATUREMODAL
	11.	POPOUTS
		1.	CONTEXTMENU
		2.	USERPOPOUT
		3.	EMOJIPICKER
		4.	PINS/MENTIONS
		5.	SEARCHPOPOUT
	12.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	TAGS
		5.	ICONS
		6.	SCROLLBARS
		7.	NOTIFICATIONBAR
		8.	TOOLTIPS
		9.	TOASTS
	13.	BDSUPPORT
	14.	POWERCORDSUPPORT
	15.	PLUGINSUPPORT
		1.	HIDEUTILS
		2.	READALLNOTIFICATIONSBUTTON
		3.	SERVERSEARCH
		4.	CHANNELTABS
*/

















